stages:
  - build
  - deploy

variables:
  IMAGE_NAME: harbor.local:31764/portifolio-devops/nginx
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

build-image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"harbor.local:31764\":{\"username\":\"$HARBOR_USER\",\"password\":\"$HARBOR_PASS\"}}}" > /kaniko/.docker/config.json
    - >
      /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/Dockerfile
      --destination $IMAGE_NAME:$IMAGE_TAG
      --destination $IMAGE_NAME:latest
      --skip-tls-verify
      --insecure
  only:
    - main

deploy:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - kubectl set image deployment/demo-app demo-app=$IMAGE_NAME:$IMAGE_TAG -n apps
  only:
    - main
