expose:
  type: ingress
  tls:
    enabled: false
  ingress:
    enabled: true
    className: nginx
    hosts:
      core: harbor.local
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"

externalURL: http://harbor.local
harborAdminPassword: "ChangeMe123!"

persistence:
  enabled: true
  resourcePolicy: keep
  persistentVolumeClaim:
    registry:
      storageClass: local-path
      size: 20Gi
    database:
      storageClass: local-path
      size: 5Gi
    redis:
      storageClass: local-path
      size: 2Gi
    trivy:
      storageClass: local-path
      size: 5Gi
    jobservice:
      jobLog:
        storageClass: local-path
        size: 2Gi